.colorsColumn{
    display: flex;
    flex-direction: column;
    width:auto;
    
}
.selected{
    display: flex;
    width: inherit;
    height: inherit;
  
   
    border-radius: 50%;
    border: 2px solid black;
    
    
   
  
   
 
    
}