.smallCircles{
    display: flex;
    flex-wrap: wrap;
    width:40%;
    flex-direction: row;
    justify-content: space-between;
   
    align-self: center;
    height: inherit;
    margin-right: 10px;
    margin-left: 10px;
    

}
@media screen and (min-width:500px){
    .smallCircles{
        display: flex;
    flex-wrap: wrap;
    width:80px;
    flex-direction: row;
    justify-content: space-between;
   
    align-self: center;
    height: inherit;
    margin-right: 10px;
    margin-left: 10px;
    

    }

}